@charset "UTF-8";
 

body,html{
    background-color: rgba(37, 91, 241, 0.929);
    width: 100vw;
    height: 100vh;
    border: 0px;
    margin: 0px;
}

header{
    color: white;
    text-align: center;
    padding: 10px;
}
main{
    margin: auto;
    background-color: rgb(243, 248, 249);
    width: 500px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.199);
}
select{
    width: 200px;
    margin: 30px 30px 0px 30px;
}
footer{
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
}
