@charset "UTF-8";

body{
    background-color: rgb(28, 43, 255);
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


section{
    margin: auto;
    width:400px;
    background-color: rgb(252, 245, 236);
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.489);
    padding: 10px;
    text-align: center;
}

div#resultado{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.29);
    box-shadow: inset 3px 4px 5px 2px rgba(0, 0, 0, 0.078);
    border-radius: 5px;
    width: 150px;
    height: 225px;
    margin: auto;
    overflow: hidden
}
#res{
    overflow: hidden;
}

footer{
    font-style: italic;
}

header,footer{
    color: white;
    text-align: center;
}